<%= flash_messages %>

<script>
function changeClass(id) {
  var name = prompt("Cual es el nuevo nombre de la clase", "Nuevo nombre...");
  var html2 = "<td id='" + id + "'><a href='/classrooms/" + id + "/students'>" + name + "</a></td>";
  if (name != null) {
    document.getElementById(id).innerHTML = html2;
  }
  updateClass(id,name);
}

function updateClass(id, name)
{
  $.ajax({
    type: "POST",
    url: "/classrooms/"+id+"/update",
    data: "name=" + name,
    success: function(msg){
      alert( "Data Saved: " + msg );
    }
  });
}

</script>

<h1>Lista de clases del profesor</h1>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th width="70%">Nombre</th>
          <th width="20%">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <% @classrooms.each do |classroom| %>
        <tr>
          <td id="<%= classroom.id%>"><a href="/classrooms/<%= classroom.id%>/students"><%= classroom.name %></a></td>
          <td><a onclick="changeClass(<%= classroom.id%>)" class="btn btn-primary btn-xs">Editar</a> <a href="<%= classroom.delete_url %>" class="btn btn-primary btn-xs">Borrar</a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <div class="form-group">
      <form action="/classrooms/new" method="post">
      <label class="control-label" for="focusedInput">Agregar Clase</label>
      <input name="classroom[professor_id]" type="hidden" value="<%= current_user.id %>">
      <input name="classroom[name]" class="form-control" id="focusedInput" type="text" value="Agregar nueva clase...">
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value ="Agregar">
  </form>

  </div>
</div>
