<h1>Pistas por categoria</h1>
<form class="form-horizontal">
  <fieldset>
    <legend>Asignar puntuaciones</legend>
    <div class="form-group">
      <label for="clue200" class="col-lg-2 control-label"><%= @clue1.value%></label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="clue200" placeholder="200" value="<%= @clue1.description%>">
        <br>
        <input type="text" class="form-control" id="clue200" placeholder="200" value="<%= @clue1.right%>">
      </div>
    </div>
    <hr style="border-color:#CCC">
    <div class="form-group">
      <label for="clue400" class="col-lg-2 control-label"><%= @clue2.value%></label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="clue400" placeholder="400" value="<%= @clue2.description%>">
        <br>
        <input type="text" class="form-control" id="clue400" placeholder="400" value="<%= @clue2.right%>">
      </div>
    </div>
    <hr style="border-color:#CCC">
    <div class="form-group">
      <label for="clue600" class="col-lg-2 control-label"><%= @clue3.value%></label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="clue600" placeholder="600" value="<%= @clue3.description%>">
        <br>
        <input type="text" class="form-control" id="clue600" placeholder="600" value="<%= @clue3.right%>">
      </div>
    </div>
    <hr style="border-color:#CCC">
    <div class="form-group">
      <label for="clue800" class="col-lg-2 control-label"><%= @clue4.value%></label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="clue800" placeholder="800" value="<%= @clue4.description%>">
        <br>
        <input type="text" class="form-control" id="clue800" placeholder="800" value="<%= @clue4.right%>">
      </div>
    </div>
    <hr style="border-color:#CCC">
    <div class="form-group">
      <label for="clue1000" class="col-lg-2 control-label"><%= @clue5.value%></label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="clue1000" placeholder="1000" value="<%= @clue5.description%>">
        <br>
        <input type="text" class="form-control" id="clue1000" placeholder="1000" value="<%= @clue5.right%>">
      </div>
    </div>
  </fieldset>
</form>

<a href="#" class="btn btn-primary">Asignar pistas</a>
