
<form action="/game/new" method="post" class="form-horizontal">
  <fieldset>
    <legend>Nuevo juego.</legend>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Clase</label>
      <div class="col-lg-10">
        <select name="game[classroom_id]" data-placeholder="Elige una opcion..." class="chosen-select" tabindex="2" id="select">
          <% @clases.each do |x| %>
          <option value="<%= x.id %>"><%= x.name %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Tema</label>
      <div class="col-lg-10">
        <select  name="game[topics][]" data-placeholder="Elige una opcion..." class="chosen-select-multiple" multiple="" tabindex="2" id="select">
          <% @topics.each do |x| %>
          <option value="<%= x.id %>"><%= x.name %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Jugador 1</label>
      <div class="col-lg-10">
        <select  name="game[student1]" data-placeholder="Elige una opcion..." class="chosen-select" tabindex="2" id="select">
          <% @students.each do |x| %>
          <option value="<%= x.id %>"><%= x.name %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Jugador 2</label>
      <div class="col-lg-10">
        <select name="game[student2]" data-placeholder="Elige una opcion..." class="chosen-select" tabindex="2" id="select">
          <% @students.each do |x| %>
          <option value="<%= x.id %>"><%= x.name %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Jugador 3</label>
      <div class="col-lg-10">
        <select name="game[student3]" data-placeholder="Elige una opcion..." class="chosen-select" tabindex="2" id="select">
          <% @students.each do |x| %>
          <option value="<%= x.id %>"><%= x.name %></option>
          <% end %>
        </select>
      </div>
    </div>

    <input type="submit" class="btn btn-default btn-lg btn-block" value="Jeopardy!">

  </fieldset>
</form>
